:root {
    /* colours */
    --backgroundColour: rgb(60, 60, 84);
    --fontColour: rgb(255, 255, 255);
    --navbarHoverFontColour: rgb(100, 100, 255);
    --navbarBackgroundColour: rgba(55, 55, 77, 0.75);
    --heroLogoBackgroundColour: #3C3C5488;
    /* 
        height/width/fontsize/margin/padding/etc based on screen width (maybe a bit 
        unintuitive, but it works). from my testing this makes sure devices of all 
        screen widths will be able to contain the contents of the page without any weird 
        wrapping or overflowing text and images will appear in the same relative size
        update: only using vw completly disables zoom.
    */
    --navbarHeight: 5vw;
    --footerHeight: 10vw;
    --footerTopMargin: 2vw;
    --fontSize: 2vw;
    --fontSizeSmall: 1.5vw;
    --fontSizeBig: 3vw;
    --fontSizeH1: 8vw;
    --fontSizeH2: 5vw;
    --fontSizeBookingButton: var(--fontSizeSmall);
    --bookingButtonWidth: 10vw;
    --bookingButtonHeight: 6vw;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px red solid; */
}

body {
    background-color: var(--backgroundColour);
    color: var(--fontColour);
    display: flex;
    flex-direction: column;
    margin-top: var(--navbarHeight);
    font-size: var(--fontSize);
}

h1 {
    font-size: var(--fontSizeH1);
    text-align: center;
}

h2 {
    font-size: var(--fontSizeH2);
}

header {
    /* make sure header is at the top */
    order: -999;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navbarHeight);
    width: 100%;
}

nav {
    background-color: var(--navbarBackgroundColour);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer {
    /* make sure footer is at the bottom */
    order: 999;
    background-color: var(--navbarBackgroundColour);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--footerHeight);
    margin-top: var(--footerTopMargin);
}

footer .socialMedia,
footer .contactInformationContainer {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    justify-content: center;
}

footer .socialMedia a {
    display: flex;
    flex-direction: row;
}

footer .socialMedia a img {
    height: 1.5vw;
    width: 1.5vw;
}

header nav a,
footer a {
    text-decoration: none;
    color: var(--fontColour);
}

header nav a:hover,
footer a:hover {
    color: var(--navbarHoverFontColour);
}


/* HEIM (index) */

.heroTextContainer {
    position: absolute;
    top: 50%;
    /* this assumes h1.innerHTML === "CRAFTSVILLA" */
    left: 22.3%;
    background-color: var(--heroLogoBackgroundColour);
}

.heroImageContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* accounting for the navbar to make sure the entire hero is in view; */
    height: calc(100vh - var(--navbarHeight));
}

.heroImageContainer img {
    width: 50%;
    object-fit: cover;
}

.heroImageContainer :nth-child(1) {
    height: 100%;
}

.heroImageContainer :nth-child(2),
.heroImageContainer :nth-child(3) {
    height: 50%;
}


/* BOOKING */

.bookingItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    margin-top: 6vw;
}

.bookingItemContainer .bookingItem {
    display: flex;
    flex-direction: row;
}

.bookingItemContainer .bookingItem img {
    width: 33vw;
    height: 33vw;
    border-radius: 50%;
    margin-right: 5vw;
}

.bookingItemContainer .bookingItem .bookingItemTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.bookingItemContainer .bookingItem .bookingItemTextContainer button {
    border-radius: 64px;
    font-size: var(--fontSizeBookingButton);
    width: var(--bookingButtonWidth);
    height: var(--bookingButtonHeight);
    align-self: center;
    margin: 3vw;
}

/* Activity description */
.bookingItemContainer .bookingItem .bookingItemTextContainer>:nth-child(2) {
    font-size: var(--fontSize);
}

/* Activity sub-text */
.bookingItemContainer .bookingItem .bookingItemTextContainer>:nth-child(3) {
    font-size: var(--fontSizeSmall);
}

/* TILBAKEMELDING */
/* GALLERI */